@import "../../../../../style/main.scss";
a{
  text-decoration: none;
  display: block;

  &:hover{
    text-decoration: none;
    color: inherit;
  }
  .category-single{
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin: 10px auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 3px 5px 1px $lightGray;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    .image-wrapper{
      height: 200px;
      overflow: hidden;

      img{
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
      }
    }
    p{
      font-family: $Tajawal;
      font-weight: 700;
      font-size: 1.2em;
      color: $darkGray;
      background-color: #fff;
      width: 100%;
      padding: 15px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    &:hover{
      box-shadow: 0 3px 5px 1px $darkGray;

      .image-wrapper{
        background: black;
        img{
          opacity: 0.5;
        }
      }
      p{
        background-color: $lightGray;

      }
    }
  }

}
