@import "../../style/main.scss";


.filter-wrapper{
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 0 0 30px;
  padding: 20px;
  display: flex;
  text-align: $textAlign;
  height: auto;
  position: sticky;
  top: 66px;
  z-index: 9;
  width: 100%;
  justify-content: space-between;
  @media all and (min-width: 480px) and (max-width: 768px) {
    top: 60px;
  }
  @media all and (max-width: 480px) {
    top: 38px;
  }
  .button{
    display: flex;
    text-align: $textAlign ;
    font-family: $Tajawal !important;

  }

  .input{
    flex: 1;
    input{
      text-align: $textAlign ;
      font-family: $Tajawal !important;
      &:focus{
        border: 1px solid $red;
      }
    }


  }
}
.ui.segment{
  border: none;
  box-shadow: none;
  text-align: $textAlign !important;
  .ui.thin.left.sidebar, .ui.thin.right.sidebar{
    width: 320px;
    background-color: none;
    border: none;
    box-shadow: none;
    p{
      font-family: $Tajawal;
      font-size: 1.2em;
      color: $red;
      font-weight: 600;
    }
    .dropdown{
      font-weight: $Tajawal;
      text-align: $textAlign !important;
    }
  }
  .ui.visible.thin.right.sidebar~.fixed, .ui.visible.thin.right.sidebar~.pusher{
    webkit-transform: translate3d(-320px,0,0);
    transform: translate3d(-320px,0,0);
    height: 100%;
    min-height: 600px !important;
  }
}
