@import "../../../style/main.scss";



.text-with-arrow-wrapper{
  list-style-image: url('arrow.png') ;
  li{
    p{
      color: $darkGray;
      font-family: $Tajawal;
      font-weight: 300;
      font-size: 1.5em;
      text-align: justify;
      line-height: 1.5;
      @media all and (max-width: 768px) {
        font-size: 1em;
      }
    }
  }
}
