@import "../../../style/main.scss";

.project-item{
  margin-bottom: 25px;
  .card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 5px -2px $darkGray;
    cursor: default;
    .image-wrapper{
      height: 200px;
      overflow: hidden;
      width: 100%;
      .card-img-top{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }

    }
    .card-hover{
      background-color: #5a9dedba;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      .h5{
        color: #fff;
        font-family: $Tajawal;
        font-size: 24px;
        display: flex;
        align-self: center;
        width: 80%;
      }
    }

    &:hover{
      box-shadow: 0 8px 7px 1px $lightGray;
      .image-wrapper{
        background: black;
        .card-img-top{
          opacity: 0.5;
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -o-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
      .card-body{
        .h5{
          color: $red;
        }
      }
    }
    .card-body{
      text-align: $textAlign;
      .h5{
        color: $darkGray;
        font-family: $Tajawal;
        text-align: justify;
        font-size: 1.2em;
        font-weight: bold;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      .card-title{
        overflow: hidden;
        max-height: 40px;
        min-height: 40px;
        @media all and (max-width: 480px) {
          overflow: auto;
          max-height: 100%;
          min-height: auto;
        }
      }
      .title{
        font-family: $Tajawal;
        display: inline;
        font-size: 1em;
        color: $lightGray;
        margin: 0;
      }
      .text{
        font-family: $Tajawal;
        font-size: 16px;
        color: $lightGray;
        margin: 0;
      }
      .rate-wrapper{
        display: flex !important;
        justify-content: flex-end !important;
        .star-ratings{
          display: flex !important;
          justify-content: flex-end !important;
          flex-direction: row-reverse !important;
          .star-container{
            display: flex;

          }

        }

      }

    }
  }
  .ribbon {
    position: absolute;
    left: 10px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: $textAlign;
    span {
      font-size: 1em;
      font-weight: 400;
      color: #FFF;
      font-family: $Tajawal;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 100px;
      display: block;
      background: #79A70A;
      background: linear-gradient(#C62020 0%, #860912 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px; left: -21px;
      &:before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #860912;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #860912;
      }
      &:after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #860912;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #860912;
      }

    }
  }
}
